.span::before{
    content: '';
    background-image: url('/images/oval01.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 120%;
            height: 210%;
            /* background-color: black; */
            opacity: 0.7; /* Adjust opacity as needed */
            /* z-index: -1;  */
            position:absolute;
            top: -30%;
            left: -10%;
            
}

.span{
    position: relative;
    /* background: blue; */
}

 /* before:absolute before:content-[''] relative  before:w-full before:h-full before: before:bg-[url('/images/oval1.jpg') before:bg-center before:bg-no-repeat */